MiniCompiler/machinecode.txt
MiniCompiler/compilerlog.txt
MiniCompiler/__pycache__/Minicompiler_v2.cpython-37.pyc
MiniCompiler/__pycache__/Hazard_Detect.cpython-37.pyc
Scripts/machinecode.txt
Scripts/instr_load.log
.vscode/settings.json
